output {
  # output for elasticsearch
  elasticsearch {
    hosts => ["{{elasticsearch_ip}}:{{elasticsearch_port}}"]
    manage_template => false
    index => "logstash-%{+YYYY.MM.dd}"
  }
  # output for console, uncomment if you need output to be printed
  #stdout { codec => rubydebug }
}